#zaki{
   text-align: center;
   color: white;
}   
#zia{
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 410px;
    padding-right: 0px;
}
body{
    background-color: black;
}
